@import "tailwindcss";

@font-face {
  font-family: "Aktiv Grotesk Ex";
  src: url("/fonts/Aktiv Grotesk EX Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk Ex";
  src: url("/fonts/Aktiv Grotesk EX Hair.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-black: #191a1b;
  --color-white: #ffffff;
  --color-grey: #aeb1b7;
  --color-light-grey: #e7e8e9;
  --color-ant-green: #5bffc4;
  --color-light-green: #d3fff5;
}

@theme inline {
  --font-primary: "Aktiv Grotesk Ex", sans-serif;
  --font-body: "Inter", sans-serif;
  --color-black: var(--color-black);
  --color-white: var(--color-white);
  --color-grey: var(--color-grey);
  --color-light-grey: var(--color-light-grey);
  --color-ant-green: var(--color-ant-green);
  --color-light-green: var(--color-light-green);
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: "Inter", sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
